<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="icon" href="{% static 'image/apssdc.png' %}">
    <title>Edit</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <style>
        form {
            padding: 40px 40px 20px !important;
            background: #ebeff2;
        }
        .mt32 {
            margin-top: 32px;
        }
        label {
            margin-top: 0.3em;
        }
        .banner {
        position: fixed;
        }
    </style>
</head>
<body>

<hr>
<script src="{% static 'js/sc.js' %}" type="text/javascript"></script>
<div class="container">
    <h2 class="mt32">Edit page</h2>
<hr>
    <form class="mt32" method="POST">

        {% csrf_token %}

        <div class="form-group row">
            <label for="Fname" class="control-label col-sm-2">First Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="Fname" value="{{ed.Fname}}" id="Fname">
            </div>
        </div>

        <div class="form-group row">
            <label for="Lname" class="control-label col-sm-2">Last Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  name="Lname" value="{{ed.Lname}}" id="Lname">
            </div>
        </div>

         <div class="form-group row">
            <label for="rollNum" class="control-label col-sm-2">Roll Num</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="rollNum" value="{{ed.rollNum}}" id="rollNum">
            </div>
        </div>

        <div class="form-group row">
            <label for="dob" class="control-label col-sm-2">Date Of Birth</label>
            <div class="col-sm-3">
              <input type="date" class="form-control"  name="dob" value="{{ed.dob}}" id="dob">
            </div>
            


        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2">Gender</label>
            <div class="col-sm-10">
            <input type="radio" value="Male" name="Gender">
            <label>Male</label>
            <label class="control-label col-sm-2"></label>
            <input  type="radio" value="Female" name="Gender">
            <label >Female</label>
            <label class="control-label col-sm-2"></label>
            <input  type="radio" value="Others" name="Gender">
            <label >Others</label>
        </div>
        </div>
        
        <div class="form-group row">
            <label for="phn" class="control-label col-sm-2">Mobile</label>
            <div class="col-sm-10">
             <input type="number"  minlength="10" maxlength="10" class="form-control" name="Mobile" value="{{ed.Mobile}}" id="Mobile">
            </div>
        </div>

        <div class="form-group row">
            <label for="email" class="control-label col-sm-2">Email</label>
            <div class="col-sm-10">
             <input type="email" class="form-control" name="Email" value="{{ed.email}}" id="Email">
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="control-label col-sm-2">Password</label>
            <div class="col-sm-10">
             <input type="password" class="form-control" name="Password" value="{{ed.Password}}" id="Password">

            </div>
        </div>
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-10 pull-right">
				<input type="submit"  value = "edit" class = "btn btn-outline-danger btn-lg">
            </div>
        </div>

    </form>
</div>
</body>
</html>
